.AboutMe {
    gap: 0.5em;

    .quote {
        $padding: .7em;
        padding: $padding $padding + 0.3;
        box-sizing: border-box;
        border-radius: .6em;
        border: 0.24em solid rgba(152, 188, 231, 0.908);
        position: relative;
        font-style: italic;
        // text-align: justify;

        $q-font-size: $padding * 4;

        &::before {
            content: "“";
            font-family: 'Georgia', serif;
            position: absolute;
            top: -0.2 / 4 * $q-font-size;
            left: -0.07 / 4 * $q-font-size;
            font-size: $q-font-size;
        }

        &::after {
            content: "”";
            font-family: 'Georgia', serif;
            position: absolute;
            bottom: -0.7em;
            right: 0.1 / 4 * $q-font-size;
            font-size: $q-font-size;
        }
    }
}