.Foldden {
    &.dark {
        svg {
            fill: white
        }
    }

    > .to {
        > .crossSvg {
            display: none;
        }
        &:hover {
            > .crossSvg {
                display: block;
            }
        }
    }
}