.Education {
    gap: 0.3em;

    >.place {
        background: rgba(249, 249, 249, 0.757);
        padding-inline: 0.7em;
        border-radius: 0.4em;
        border: 0.2em solid #226f61;
        ;

        >h4 {
            // text-align: end;
            margin: 0em;
            margin-top: 0.3em;
            text-decoration: none;
        }

        >.descript {
            text-align: end;
        }

        >.timeLine {}
    }
}