.Experience {
    .algoLinks {
        text-align: end;
        font-size: 0.5;

        img {
            width: 3.8em;

            &[alt="codewars"] {
                width: 2.4em;
            }
        }
    }

    .lang {
        padding: 0.2em;
        background-color: #afb8c133;
        border-radius: 0.4em;
    }
}