.Experience {
    height: 100%;

    ul,
    ol {
        margin: 0;
    }

    // *:not(li) {
    //     text-align: justify;

    //     & li {
    //         text-align: start;
    //     }
    // }

    .algoLinks {
        text-align: end;
        font-size: 0.8em;
        height: 100%;

        $size: 3.4em;

        svg {
            width: $size;
            height: $size;

            &[id="codewars"] {
                width: $size - 1.2em;
                height: $size - 1.2em;
            }
        }
    }

    >.item {
        &:first-child {
            border-top: 0;
        }


        border-top: 0.1em solid black;
        padding-right: var(--padding);
        padding-block: 0em;
        padding-bottom: 0.3em;

        >p {
            margin-block: 0.3em;
        }

        h4 {
            text-align: center;
        }

        .timeLine {
            justify-self: right;
            font-size: 0.55em;
            padding: 0.5em;
            box-sizing: border-box;
            gap: 0.7em;

            >span {
                font-size: 1.7em;
                white-space: nowrap;
            }
        }

        ul {
            padding-left: 2em;
        }
        .achievements {
            
            list-style-position: outside;

            ul {
                padding-left: 2em;
            }
        }

        // first stack
        ul.stack.firstLevel {
            gap: 0.2em 0.6em;

            >li {
                border: 0.1em solid rgba(0, 0, 0, 0.425);
                padding: 0 0.2em;
                background: rgba(226, 226, 226, 0.503);

                >ul.stack {
                    column-gap: 0.2em;
                    flex-wrap: nowrap;

                    >li {
                        white-space: nowrap;
                    }
                }
            }
        }

        .stack {
            list-style: none;
            flex-wrap: wrap;
            padding: 0;
            align-items: center;

            li {
                flex-wrap: wrap;
                align-items: center;
                border-radius: 0.15em;
                box-sizing: border-box;

                a {
                    color: black;
                }
            }
        }
    }

    .lang {
        padding: 0.1em;
        background-color: #e6e6e6;
        border-radius: 0.3em;
        white-space: nowrap;
    }
}