.MultiSelect {
  $padding: 1em;
  padding: $padding;
  background: rgba(170, 170, 241, 0.3);
  border: 0.1em solid black;

  > .body {
    width: 100%;
    >.typeSwap {
      margin-top: 0.2em - $padding;
      margin-right: 0.2em - $padding;
    }
  }
}