.InputRange {
    position: relative;
    $inputGap: calc(0.2em + 100%);
    $width: 20em;
    $height: 2em;
    $height_track: 0.5em;
    &::before {
        content: '';
        background: red;
        position: absolute;
        border-radius: $height_track/2;
    }

    &.row {
        width: $width;
        height: $height;

        &::before {
            width: 100%;
            height: $height_track;
            top: $height/2 - $height_track/2;
        }


        >.track {
            height: $height_track;
            top: $height/2 - $height_track/2;
        }

        >.value {
            >.input {
                &.left {
                    bottom: $inputGap;
                }

                &.right {
                    top: $inputGap;
                }
            }
        }
    }

    &.column {
        width: $height;
        height: $width;

        &::before {
            width: $height_track;
            height: 100%;
            left: $height/2 - $height_track/2;
        }

        >.track {
            width: $height_track;
            left: $height/2 - $height_track/2;
        }

        >.value {
            >.input {
                &.left {
                    right: $inputGap;
                }

                &.right {
                    left: $inputGap;
                }
            }
        }
    }

    >.track {
        position: absolute;
    }

    >.value {
        position: absolute;
        height: $height;
        top: 0;
        left: 0;

        &.dragged {
            z-index: 1000;
        }


        >.slider {
            border-radius: 50%;
            height: 100%;
            aspect-ratio: 1/1;
            background: green;
            border: 0.2em solid yellow;
            box-sizing: border-box;
        }

        >.input {
            position: absolute;
            padding: 0.1;
        }
    }
}