.TimeLine {
    $r: 0.4em;
    $w: $r / 4;
    height: $r * 2 + $w;
    width: 100%;
    $color: blue;
    fill: $color;
    stroke: $color;
    font-size: 0.9em;

    .time {
        &.start {
            text-align: end;
        }
        &.end {
            white-space: nowrap;
        }
    }

    .line {
        width: calc(100% - $r*2 + $w);
        height: $r / 2;
        y: calc(50% - $r / 4);
        x: $r - $w / 2;
        rx: $r / 4;
    }

    .mask {
        width: calc((100% - $r*2 + $w) + $w * 2);
        height: ($r / 2) + $w * 2;
        y: calc((50% - $r / 4) - $w);
        x: ($r - $w / 2) - $w;
        rx: $r / 4 + $w;
        fill: black;
    }

    .leftPoint,
    .rightPoint,
    .rightPointCont {
        r: $r;
        fill: none;
        stroke-width: $w;
        mask: url(#lineMask);
    }

    .leftPoint {
        cx: $r + $r / 4;
    }

    .rightPoint, .rightPointCont {
        cx: calc(100% - $r - $r / 4);
    }

    .rightPointCont {
        r: $r - $w;
        stroke-width: none;
        fill: $color;
        mask: none;
    }
}