.Track {
    position: relative;
    $offset-input: 0.5em;

    >.track {
        position: absolute;
        border-radius: 1em;
    }

    >.sliderInput {
        position: absolute;
        top: 0;
        left: 0;

        >.slider {
            background: rgb(4, 128, 0);
            width: 1em;
            aspect-ratio: 1/1;
            height: 1em;
            border-radius: 50%;
            padding: 4px;
        }
    }

    &.row {
        width: calc(var(--count-values) * 50px + 100px);
        height: var(--height);

        >.track {
            width: var(--width);
            $height: calc(var(--height) / 2);
            height: $height;

            &.left {
                bottom: 0;
                transform: translate(var(--offset), calc(-1 * $height / 2));
            }

            &.right {
                transform: translate(var(--offset), calc($height / 2));
            }
        }

        >.sliderInput {
            &:nth-child(even) {
                >.input {
                    top: calc(100% + $offset-input);
                    bottom: none;
                }
            }
        }
    }

    &.column {
        width: var(--height);
        height: 200px;

        >.track {
            $height: calc(var(--height) / 2);
            width: $height;
            height: var(--width);

            &.left {
                right: 0;
                transform: translate(calc(-1 * $height / 2), var(--offset));
            }

            &.right {
                transform: translate(calc($height / 2), var(--offset));
            }
        }

        >.sliderInput {
            &:nth-child(even) {
                >.input {
                    left: calc(100% + $offset-input);
                    right: none;
                }
            }
        }
    }
}