.Input {
  outline: 0.1em solid black;
  border: 0;
  
  font-size: inherit;

  &.base {
    min-width: 2em;
    border-radius: 0.2em;
    padding: 0.2em;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:disabled {
    outline: 0;
  }
}