.Input {
  outline: 0.1em solid black;
  border: 0;
  padding: 0.4em;
  border-radius: 0.3em;
  width: calc(var(--length));
  font-size: inherit;
  text-align: center;

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:disabled {
    outline: 0;
  }

  &:hover:not(:focus, :disabled) {
    transition: scale 800ms;
    transform: scale(1.05);
  }

  &:focus {
    transform-origin: left;
    transition: scale 400ms;
    //transform: scale(1.1);
    background: rgba(255, 157, 157, 0.42);
  }
}
